.transferencia {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.tabelas {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 30px;
}

h2 {
  color: #007bff;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.table-container {
  max-height: 600px;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
